{% load staticfiles %}
<footer class="footer">
  <div class="space-10"></div>
  <div class="container">
    <div class="row vertical-align-child">
      <div class="col-md-3 margin-b-30">
        <div class="margin-b-20">
          <a href="#">
            <img src="{% static  'assets/images/logo-light.png' %}" alt="">
          </a>
        </div>
        </div>
        <p>
          We are the Students' Technical Activities Body at IIT Bombay.
        </p>

      <div class="col-md-2 margin-b-70">
        <ul class="list-unstyled">
          <li><br></li>
          <li><a href="#">Contact Us</a></li>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/stab.iitb"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://stab-iitb.org/#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="https://www.youtube.com/user/STABiitb"><i class="ion-social-youtube"></i></a></li>
            <li><a href="https://github.com/stabiitb"><i class="ion-social-github"></i></a></li>
          </ul>
        </ul>
      </div>
      <div class="col-md-2 margin-b-70">
        <ul class="list-unstyled">
        </ul>
      </div>
      <div class="col-md-300 margin-b-70" style="float:right">
        <span>&copy;2016 STAB-IITB. All rights reserved </span>
      </div>
    </div>
  </div>
</footer>
