{% load staticfiles %}

<footer class="footer" style="width:100%;padding:10px;overflow: hidden">
  <div class="space-10"></div>
   <center>
    <div class="row">
      <div class="col-md-3" style="display: table">
        <div>
          <a href="#"><img src="{% static  'assets/images/logo-light.png' %}" alt=""></a>
        </div>
      </div>
      <div class="col-md-6">
          We are the Students' Technical Activities Body at IIT Bombay.
      </div>

      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="#">Contact Us</a></li>
          <ul class="list-inline social">
            <li><a href="https://www.facebook.com/stab.iitb"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://stab-iitb.org/#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="https://www.youtube.com/user/STABiitb"><i class="ion-social-youtube"></i></a></li>
            <li><a href="https://github.com/stabiitb"><i class="ion-social-github"></i></a></li>
          </ul>
        </ul>
      </div>
    </div>
  </center>
</footer>
<span style="letter-spacing: 5px;font-size: 10px;line-height: 12px">&copy;2016 STAB-IITB. All rights reserved </span>