{% load staticfiles %}
<footer class="footer">
  <div class="space-10"></div>
  <div class="row" >
    <div class="col-md-4 margin-b-30" style="padding-left:60px">
      <div class="margin-b-20"></div>
        <a href="#">
          <img src="{% static 'assets/images/logo-light.png' %}" alt="">
        </a>
      <p>
        We are the Students' Technical Activities Body at IIT Bombay.
      </p>
    </div>
    <div class="col-md-4 " style="margin-top:20px;text-align: center">
      <ul class="list-unstyled">
        <li><a href="#">Contact Us</a></li>
        <ul class="list-inline social">
          <li><a href="https://www.facebook.com/stab.iitb"><i class="ion-social-facebook"></i></a></li>
          <li><a href="https://stab-iitb.org/#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="https://www.youtube.com/user/STABiitb"><i class="ion-social-youtube"></i></a></li>
          <li><a href="https://github.com/stabiitb"><i class="ion-social-github"></i></a></li>
        </ul>
      </ul>
    </div>
    <div class="col-md-4" style="text-align: right;padding-right:60px;padding-top:40px">
      &copy;2016 STAB-IITB. All rights reserved
    </div>
  </div>
</footer>
