{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title ">
      <h1>Nehru Planetarium</h1>
      <h4>24 Aug 2016</h4>
    </div>
    <p>Nehru Planetarium is a prominent science and space centre, which attracts plenty of curious space aspiring students. It is immensely popular among scientists and scholars meeting for discussions and lectures, on various stellar and Astronomical events. Established in 1977 and inaugurated by the then Prime Minister, Indira Gandhi, the palnetarium is a dome-shaped building that houses an art gallery, restaurant, library and a cultural center. Astronomy club, IIT Bombay conducts a visit to the planetarium every year in autumn semester.</p>
    <figure class="half">
      <center>
        <img src="{% static 'krittika/assets/img/Trips/Nehru-Planetarium.jpg' %}" />
        <img src="{% static 'krittika/assets/img/Trips/sky-theater.jpg' %}" />
      </center>
    </figure>
    <p>This year we are scheduling the trip on 17th september, the weekend after midsems. Below is the registration form for the same. Seats are limited, hurry up!</p>
    <center>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8DSJ1fnyGzzrC2bhR8EU7sPpE04E5U_WDHXHwFcOdk8sQ8g/viewform?embedded=true" width="680" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </center>
    <div class="entry-meta">
      <br>
      <hr>
      <span class="entry-tags"></span>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
{% endblock %}
