{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title ">
      <h1>GMRT</h1>
      <h4>01 Jul 2016</h4>
    </div>
    <p>Giant Meter Wave Radio Telescope, Pune, set up by National Centre for Radio Astrophysics, an affiliate of the Tata Institute of Fundamental Research (TIFR),is one of the most sensitive telescopes in the world (within its range), the GMRT has an effective diameter of 25 kilometres and is made of 30 smaller dish antennas. Operating in the low radio frequencies, it has been extensively used by radio astronomers to study different objects in the Milky Way and also the content, structure and nature of gases in external galaxies. A visit to this unique radio telescope is organised by Krittika, introducing visitors to the basics of radio astronomy and a star-party in the clear skies of khodad, located remotely 80 kms north of Pune.</p>
    <figure>
      <center><img src="{% static 'krittika/assets/img/Trips/gmrt-grp-pic.JPG' %}" /></center>
    </figure>
    <div class="entry-meta">
      <br>
      <hr>
      <span class="entry-tags"></span>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
{% endblock %}
