{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title">
      <h1>Resources for Basics of Astronomy</h1>
      <a class="btn zoombtn" href="/krittika">
        <i class="fa fa-home"></i>
      </a>
    </div>
    <div class="post-list">
      <ul>
        <li class="wow fadeInLeft" data-wow-duration="1.5s">
          <a class="zoombtn" href="/krittika/resources/books">Books</a>
          <p>Few books on amatuer astronomy and cosmology</p>
          <a href="/krittika/resources/books" class="btn zoombtn">Read More</a>
        </li>
      </ul>
      <ul>
        <li class="wow fadeInLeft" data-wow-duration="1.5s">
          <a class="zoombtn" href="/krittika/resources/building-telescope">Building your own Telescope</a>
          <p>Plans for a 6 inch newtonian telescope that anyone can build</p>
          <a href="/krittika/resources/building-telescope" class="btn zoombtn">Read More</a>
        </li>
      </ul>
      <ul>
        <li class="wow fadeInLeft" data-wow-duration="1.5s">
          <a class="zoombtn" href="/krittika/resources/celestial-mechanics">Celestial mechanics</a>
          <p>Fundamentals of celestial mechanics disscussing 2 and 3 body problem and langrangian points</p>
          <a href="/krittika/resources/celestial-mechanics" class="btn zoombtn">Read More</a>
        </li>
      </ul>
      <ul>
        <li class="wow fadeInLeft" data-wow-duration="1.5s">
          <a class="zoombtn" href="/krittika/resources/Basics">Basics of Astronomy</a>
          <p></p>
          <a href="/krittika/resources/Basics" class="btn zoombtn">Read More</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
