{% extends 'mnp/template.html' %}
{% load static %}
{% block bodyContent %} 
<div id="main" role="main">
  <article class="entry">
    <img src="http://mnp-club.github.io/images/About_img.png" class="entry-feature-image" alt="Events" >
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">Events</h1>
      </header>
      <div class="container entry-content">
        <p>Events for the academic year 2017-18 will be announced soon. Meanwhile, you can follow us on Facebook!</p>

<div class="fb-page" data-href="https://www.facebook.com/mnpiitb" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mnpiitb" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mnpiitb">Maths and Physics Club, IIT Bombay</a></blockquote></div>

      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->
{% endblock %}