{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title ">
      <h1>Basics of Astronomy</h1>
      <h4>27 Jun 2016</h4>
    </div>
    <p><b> Astronomy:</b> - Astronomy is the science of measuring the positions and characteristics of heavenly bodies or you can say it is mainly depends on observation
      <br />
      <b> Astrophysics:</b> - Astophysics mainly consists of theorotical part or you can say astrophysics is the application of physics to understand astronomy.
      <br />
      <b> Cosmogony:</b> - It is the branch of science that deals with the origin of the universe, especially the solar system.</p>
    <hr />
    <center>
      <h2> Units Used in Astronomy</h2></center>
    <h3>1. Distance</h3>
    <p><b> a) Astronomical Unit (AU)</b>
      <br /> The distance between earth and sun is taken as 1 AU. It is convenient to express distance between planets and sun in AU
      <br /> \(1 \,AU=1.496\times10^{11}\, m\)
      <br />
      <br />
      <b> a) Lightyear (ly)</b>
      <br /> The distance travelled by light in one year is called 1 ly.
      <br /> \(1 \,ly=9.461\times10^{15}\, m\)
      <br />
      <br />
      <b> a) Parsec (pc)</b>
      <br /> It is the distance at which an arc 1 AU subtends an angle of 1”. It is convenient to express distance of stars from earth by parallax metod.
      <br /> \(1\,pc=3.086\times10^{16}\, m\) [distance\,in\,parsecs =\frac{1}{\theta(in “) made\,to\,earth’s\,orbital\,radius}]
      <br />
    </p>
    <h3>2. Mass</h3>
    <p>For planets we use jupiter’s mass which is equal to \(1.899\times10^{27}\,kg\). Mass of stars is expressed in Solar mass which is equal to \(1.98\times10^{30}\,kg\)
      <br />
    </p>
    <h3>3. Constants</h3>
    <p>a) \(G=6.673\times10^{-11} \,Nm^{2}kg^{-2}\)
      <br /> b) \(c=299,792,458\,ms^{-1}\approx3\times10^8\,ms^{-1}\)
      <br /> c) Solar Luminosity\(\,=3.828 \times 10^{26} \,W\)
      <br />d) Solar Constant \(=1370\,Wm^{-2}\)</p>
    <hr />
    <p>
      <br />
    </p>
    <center>
      <h2> Observing Planet</h2></center>
    <h3>Transit</h3>
    <p>Planet moving over solar disk. It happens only for Mercury and Venus
      <br />
    </p>
    <h3>Occulation</h3>
    <p>Moon/Planets Eclipsing distant object is known as occulation
      <br />
    </p>
    <h3>Retrograde Motion</h3>
    <p>Planet appears moving in opposite direction
      <br />
    </p>
    <h3> Other Terms</h3>
    <p>
      <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Positional_astronomy.svg/2000px-Positional_astronomy.svg.png"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Positional_astronomy.svg/2000px-Positional_astronomy.svg.png" /></a>
      <br />
    </p>
    <p>
      <br /><b>Inferior Planet</b> - Has an orbit that is closer than the Earth-Sun distance. (Mercury and Venus)
      <br />
      <br />
      <b>Superior Planet</b> - Has an orbit that is farther than the Earth-Sun distance. (Mars, Jupiter, Saturn, Uranus, Neptune)
      <br />
      <br />
      <b>Opposition</b> - A planetary position in which the Sun, the Earth and a superior planet are aligned in that order and in a straight line. This is also the best time to observe a planet because:
      <br /> • it is at its closest approach to Earth.
      <br /> • the planet rises just as the Sun is setting, allowing observation any time during the night.
      <br />
      <br />
      <b>Quadrature</b> - A planetary position in which the Sun, the Earth and a superior planet form a right angle with the Earth at the vertex.
      <br /> At sunset during eastern quadrature, a superior planet is overhead and is overhead at sunrise during western quadrature.
      <br />
      <br />
      <b>Conjunction</b> - A planetary position in which the Earth, the Sun and the planet are aligned in that order and in a straight line.
      <br /> For an inferior planet this is called a superior conjunction.
      <br /> When the order is the Earth, the inferior planet and the Sun, it is an inferior conjunction.
      <br /> A conjunction is the worst time to observe a planet because it is lost in the Sun’s brilliance.
      <br />
      <br />
      <b>Greatest Elongation</b> - Point at which an inferior planet has the greatest visual distance from the Sun. (Mercury 28º Venus 47º)
      <br /> During Greatest Eastern Elongation an inferior planet is visible at sunset and is visible before sunrise during Greatest Western Elongation.
      <br />
      <br />
    </p>
    <h3> Retrograde Motion</h3>
    <p>Retrograde motion is the apparent motion of a planet in a direction opposite to that of other bodies within its system, as observed from a particular vantage point. Direct motion or prograde motion is motion in the same direction as other bodies.</p>
    <center> <b> Retrograde Motion of Mars </b>
      <br />
      <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Apparent_retrograde_motion_of_Mars_in_2003.gif/250px-Apparent_retrograde_motion_of_Mars_in_2003.gif"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Apparent_retrograde_motion_of_Mars_in_2003.gif/250px-Apparent_retrograde_motion_of_Mars_in_2003.gif" /></a>
    </center>
    <p>
      <br />
      <br />
    </p>
    <h4> Reason for Apparent Retrograde Motion</h4>
    <center>
      <a href="http://homework.uoregon.edu/pub/class/301/rr1.gif"><img src="http://homework.uoregon.edu/pub/class/301/rr1.gif" /></a>
    </center>
    <p>
      <br />
      <br />
    </p>
    <hr />
    <center>
      <h2> Quantifying Brightness of stars</h2></center>
    <h3>Apparent Magnitude</h3>
    <p>As it appears from earth [m=-2.5\log{\left(\frac{flux_{object}}{flux_{reference}}\right)}] [m_1-m_2=-2.5\log{\left(\frac{f_1}{f_2}\right)}]
      <br /><b>Note:</b> Magnitude Value increases Brightness of star decreases.
      <br />Our eyes are limited to a magnitude 6 stars.
      <br />
    </p>
    <center>
      <a href="http://www.astronomynotes.com/starprop/appmag.gif"><img src="http://www.astronomynotes.com/starprop/appmag.gif" /></a>
    </center>
    <center>
      <h3>List of 50 brightest stars</h3>
      <a href="https://doc-04-10-docs.googleusercontent.com/docs/securesc/kcean16dv49vndcbfjbh2tso553lmbpg/0c34ug2d8ne5lrsk156ha17qbvfhccf6/1469383200000/15062252872031255528/15062252872031255528/0ByLMXYV6_rjNNDN5SFh3dkFHMDg?e=view&amp;nonce=tr03ii8sl1nbu&amp;user=15062252872031255528&amp;hash=tv8bnavqi3htebdru0nnnj9rca1amgu4"><img src="https://doc-04-10-docs.googleusercontent.com/docs/securesc/kcean16dv49vndcbfjbh2tso553lmbpg/0c34ug2d8ne5lrsk156ha17qbvfhccf6/1469383200000/15062252872031255528/15062252872031255528/0ByLMXYV6_rjNNDN5SFh3dkFHMDg?e=view&amp;nonce=tr03ii8sl1nbu&amp;user=15062252872031255528&amp;hash=tv8bnavqi3htebdru0nnnj9rca1amgu4" />List</a>
    </center>
    <p>
      <br />
    </p>
    <h3> Surface Brightness</h3>
    <p>It is magnitude of brightness of extended object [s=m+2.5\log{A}][A\rightarrow area\,in\,arcsec^2]
      <br />&lt;h3&gt;Absolute Magnitude&lt;/h3&gt;
      <br /> all stars considered at 10pc [M=m+5-5\log{D}][D\rightarrow distance\,between\,star\,and\,earth] for planets distance is considered to be 1 A.U.
      <br />
      <br />
    </p>
    <hr />
    <center>
      <h2>Some other terms</h2></center>
    <p><b>Never setting stars or Circumpolar stars</b> These are those stars which never go below horizon
      <br />
      <b>Never rising stars</b> Theses stars never rise
      <br />
      <br />
      <br />
      <br />
    </p>
    <center>
      <figure>
        <a href="http://www.imsc.res.in/~indu/JM/2009/JanFeb/Solstice/chap02_files/risefall.gif">
          <img src="http://www.imsc.res.in/~indu/JM/2009/JanFeb/Solstice/chap02_files/risefall.gif">
        </a>
      </figure>
      <br />
      <br />
      <a href="http://www.lcsd.gov.hk/CE/Museum/Space/archive/EducationResource/Universe/framed_e/lecture/ch02/imgs/track.gif"><img src="http://www.lcsd.gov.hk/CE/Museum/Space/archive/EducationResource/Universe/framed_e/lecture/ch02/imgs/track.gif" /></a>
    </center>
    <p>
      <br />
    </p>
    <div class="entry-meta">
      <br>
      <hr>
      <span class="entry-tags"></span>
      <!--
<span class="social-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://stab-iitb.org/krittika/Basics/" title="Share on Facebook" class="tag">
        <span class="term"><i class="fa fa-facebook-square"></i> Like</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text=https://stab-iitb.org/krittika/Basics/" title="Share on Twitter" class="tag">
        <span class="term"><i class="fa fa-twitter-square"></i> Tweet</span>
    </a>
    <a href="https://plus.google.com/share?url=https://stab-iitb.org/krittika/Basics/" title="Share on Google+" class="tag">
            <span class="term"><i class="fa fa-google-plus-square"></i> +1</span>
    </a>
</span> -->
      <div style="clear:both"></div>
    </div>
  </div>
</div>
{% endblock %}
