{% extends 'biotech/template.html' %}
{% block title %}
Biotech Club IIT Bombay – Biotech Club IIT Bombay
{% endblock%}

{% block bodyContent %}

      <article class="wrap post">
        <header class="post-header">
          <div class="hgroup">
            <h1>Contact Us</h1>
            <p class="date"></p>
            <!-- <p class="intro">Here are the options for contacting us!</p> -->
          </div>
        </header>
  		<ol class="post-list">
        
      </ol>
      <div class="content1">
      <ul>
  <li>
    <p>Reach us on <a href="#">Facebook</a></p>
  </li>
  <li>
    <p>Reach us on <a href="#">Google Groups</a></p>
  </li>
  <li>
    <p>Reach us on <a href="#">Gitter</a></p>
  </li>
</ul>

<hr>

<h2 id="managers">Managers</h2>

<ul>
  <li><a href="#">Soham Shanbhag</a></li>
  <li><a href="#">Sravan Patchala</a></li>
</ul>

<hr>

<h2 id="convenors">Convenors</h2>

<ul>
  <li><a href="#">Aditya Kadmawala</a></li>
  <li><a href="#">Anshik Gupta</a></li>
  <li><a href="#">Ritik Madan</a></li>
  <li><a href="#">Shobhna Misra</a></li>
</ul>

<hr>

      </div>



      <div class="PageNavigation">
        
        
      </div>



      


      </article>
{% endblock %}