{% extends 'biotech/template.html' %}
{% block title %}
Biotech Club IIT Bombay – Biotech Club IIT Bombay
{% endblock %}
{% block bodyContent %}
       <article class="archive-wrap">
              <ol class="event-list">
                 <lh>
                 	<h2><span class="bb">Events</span></h2>
                 </lh>
                  <hr>
<!-- ********************************************************************-COPY PASTE THIS TO ADD EVENTS**********************************************- -->                  
                  <li style="background-color:#FAFAFA;border-radius:7px;overflow:hidden;height:auto;padding:2px;">
                    <div class="deet1s" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost" style="margin-bottom:1%;">
                    		<h1 style="font-size:100%;margin-left:6px;margin-top:1%;">
	<!-- **********************************TITLE GOES HERE**************************************************** -->				           
				                	A suitable title
	<!-- ****************************************************************************************************- -->	
                    			<hr style="width:50%;margin-top:0%;background-color:white;height:0.5px" align="center">
                    		</h1>
				                <p>
	<!-- **********************************-BODY GOES HERE**************************************************** -->				           
				                	Body and other stuffs goes here
	<!-- ****************************************************************************************************- -->	
	
								</p>		                
                    </div>
                  </li>
<!-- ************************************************************************************************************************************************ -->                
              </ol>
          </article>

{% endblock %}