{% extends 'biotech/template.html' %}
{% block title %}
Biotech Club IIT Bombay – Biotech Club IIT Bombay
{% endblock %}

{% block bodyContent %}
  <article class="wrap post">
    <header class="post-header">
      <div class="hgroup">
        <h1>Biotech Club IIT Bombay</h1>
        <p class="date"></p>
        <!-- <p class="intro"></p> -->
      </div>
    </header>
    <ol class="post-list">
    </ol>
    <div class="content1">
      <h3 id="centerwe-go-nuts-and-boltscenter">
        <center>Here Goes Moto Of Biotech Club!</center>
      </h3>
      <hr>
      <h3 id="center-about-us-center">
        <center> About Us </center>
      </h3>
      <p>A good 50-60 words discription about biotech club</p>
      <hr>
      <h3 id="center-vision-of-the-club-center">
        <center> Vision Of the Club </center>
      </h3>
      <p>Again, a greate 50-60 words vision of biotech club.</p>
      <hr>
    </div>
    <div class="PageNavigation">
    </div>
  </article>
{% endblock %}