{% extends 'biotech/template.html' %}

{% block title %}
Biotech Club IIT Bombay – Biotech Club IIT Bombay
{%endblock%}

{% block bodyContent %}
<article class="archive-wrap">
	<ol class="post-list">
		<lh>
			<h2><span class="bb">Tutorials</span></h2>
		</lh>
		<!-- ***************************************COPY PASTE THIS TO ADD EVENTS*************************************************-->                  
		<li class="slider">
			<div class="deets" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
				<h1 style="margin-bottom:-1%">
					<a href="tutorial/1">Title</a>
				</h1>
				<p class="date"><time datetime="2016-12-31T00:00:00+00:00" itemprop="datePublished">2016-12-31</time></p>
				<p class="author_blog">Author Names</p>
				<p class="post_desc">Topic in Brief</p>
				<hr>
			</div>
		</li>
		<!-- ****************************************************************************************************************** -->                
	</ol>
</article>
{% endblock %}
