{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{% static  'assets/images/logo-light.png' %}" alt="" class="logo-default">
        <img src="{% static  'assets/images/logo.png' %}" alt="" class="logo-scroll">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onmouseover="revamp()">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/hall-of-fame">Hall Of Fame</a></li>
            <li><a href="/team-2017-18">Team 2017-18</a></li>
            <li><a href="/stab-alumni">Alumni</a></li>
            <li><a href="https://stab-iitb.org/faculty-advisor-and-mentor">Faculty Advisors/Mentors</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clubs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/aeromodelling-club">Aeromodelling Club</a></li>
            <li><a href="/erc">Elec-Robo Club</a></li>
            <li><a href="https://stab-iitb.org/krittika/">Krittika</a></li>
            <li><a href="mnp">Math And Physics Club</a></li>
            <li><a href="http://www.wncc-iitb.org/">Web And Coding Club</a></li>
          </ul>
        </li>
        <li><a href="/srg">Student Reading Group</a></li>
        <li><a href="https://stab-iitb.org/wiki/Main_Page">STAB Wiki</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tech Teams <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.iitbracing.org/">IITB Racing</a></li>
            <li><a href="http://www.auv-iitb.org/Web/">AUV IITB</a></li>
            <li><a href="http://www.aero.iitb.ac.in/pratham/">Pratham</a></li>
            <li><a href="http://www.marssociety.org.in">Mars Rover</a></li>
            <li><a href="http://www.umic-iitb.com/">Innovation Cell</a></li>
            <li><a href="http://teamshunya.in/">Team Shunya</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IITB Corner <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://stab-iitb.org/lightsaber">Light Saber</a></li>
            <li><a href="https://stab-iitb.org/media/WELpermission.pdf">WEL Lab Permission Form</a></li>
            <li><a href="/tech-gcrankings-2016-17">Tech GC Ranking</a></li>
            <li><a href="https://stab-iitb.org/calendar2016">Tech Calender</a></li>
          </ul>
        </li>
        <li><a href="/login" class="btn btn-rounded btn-primary">Login</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
