{% extends 'aero/index.html' %}
{% load staticfiles %}

{% block headtitle %}
STAB | IITB
{% endblock %}

{% block fbpost %}
<!-- EXAMPLE
<a href="#">
	<img src="{% static  'assets/images/img1.jpg' %}" alt="" width="70">
</a>
<div class="post-content">
	<h5><a href="#">FB  ID NEEDED</a></h5>
	<span>UPdATE THIS</span>
</div>
-->
{% endblock %}


{% block mainpost %}
<div class="blog-desc">
    <h2>Vision of Club</h2>
	<p>Aeromodelling club envisions to encourage flying enthusiasm among student community by learning and making stuffs that fly. </p>
</div>
{% endblock %}
