{% extends 'biotech/template.html' %}
{% block title %}
Biotech Club IIT Bombay – Biotech Club IIT Bombay
{% endblock %}

{% block bodyContent %}
      <article class="wrap post">
        <header class="post-header">
          <div class="hgroup">
            <h1>
<!-- Enter title here    -->  title
            </h1>
            <p class="date">
<!-- Enter date here     -->  25-07-1998         
			       </p>
          </div>
        </header>
      <div class="content1">
      <h3 id="centerwe-go-nuts-and-boltscenter">
      	<center>
<!-- Catch Line --> HI there          
		</center>
	  </h3>

<hr>
<!-- The article   -->
  Whats up, I dont have any thig to say

<!-- **************************
      Dont forget to update
      the views.py file
      and also add these links
      to blogs.html
     ************************** -->
    </article>

{% endblock %}
