{% extends 'krittika/template.html' %} 
{% load static %} 

{% block bodyContent %}
<div class="wrapper animated fadeIn">
    <div class="content">
        <div class="post-title">
            <h1>GD</h1>
            <a class="btn zoombtn" href="/krittika">
                <i class="fa fa-home"></i>
            </a>
        </div>
        <div class="post-list">
            <ul>
                <li class="wow fadeInLeft" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                    <a class="zoombtn" href="/krittika/Paradoxes/">Popular Paradoxes in Astronomy</a>
                    <p>Coming Soon</p>
                    <a href="/krittika/events/GDs/1" class="btn zoombtn">Read More</a>
                </li>
            </ul>
            <ul>
                <li class="wow fadeInLeft" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                    <a class="zoombtn" href="/krittika/Extraterrestrial_Life/">Extraterrestrial Life</a>
                    <p>Coming Soon..</p>
                    <a href="/krittika/events/GDs/2" class="btn zoombtn">Read More</a>
                </li>
            </ul>
            <ul>
                <li class="wow fadeInLeft" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInLeft;">
                    <a class="zoombtn" href="/krittika/Co-ordinate-Systems/">Celestial Co-ordinate Systems</a>
                    <p>Coming Soon</p>
                    <a href="/krittika/events/GDs/3" class="btn zoombtn">Read More</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}