{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title ">
      <h1>About Krittika</h1>
      <a class="btn zoombtn" href="/krittika/">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
    <center>
      <h2> Sky is the lower limit.</h2></center>
    <p>Everyone of us is amazed by the spectacle of the night sky and feels curious about its mysteries that lay hidden in plain sight. But very few follow it up as they grow up. At Krittika, we provide you an opportunity to just that. Krittika is IIT Bombay’s focal point for amateur astronomers and casual stargazers alike. The club has bi-weekly lectures and discussion sessions on various topics in Astronomy. Whenever the skies are clear observation sessions are conducted. Krittika boasts of a few telescopes, which are used during the astronomical events like Eclipses,Occultations etc. A lot of discussions happen on the Krittika Google Group which is an active platform for Astro-enthusiasts to learn and enjoy Astronomy. Also, every semester the club conducts trips to Observational sites, Planetarium which are an amazing experience!</p>
  </div>
</div>
{% endblock %}
