{% extends 'krittika/template.html' %} {% load static %} {% block bodyContent %}
<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="post-title ">
      <h1>VR Images</h1>
      <a class="btn zoombtn" href="/krittika">
        <i class="fa fa-chevron-left"></i>
      </a>
    </div>
    <h2 id="a-collection-of-exquisite-vr-images-of-the-nightsky">A collection of exquisite VR images of the nightsky!</h2>
    <figure class="half">
      <figcaption>Milky Way</figcaption>
    </figure>
    <iframe width="100%" height="300px" allowfullscreen="" frameborder="0" src="//chinmay0301.github.io/vrview/?image=examples/pano/milky_way.jpg&amp;is_stereo=true"></iframe>
    <p>You can also contribute to this folder, upload any amazing VR image you find on our facebook group for everyone to see. The image will then be added to this folder :D .</p>
  </div>
</div>
{% endblock %}
