{% extends 'aero/index.html' %}
{% load staticfiles %}

{% block fbpost %}
<!-- EXAMPLE
<a href="#">
	<img src="{% static  'assets/images/img1.jpg' %}" alt="" width="70">
</a>
<div class="post-content">
	<h5><a href="#">FB  ID NEEDED</a></h5>
	<span>UPdATE THIS</span>
</div>
-->
{% endblock %}


{% block mainpost %}
						<div class="blog-desc">
							 <div>
								<form action="search.html" id="cse-search-box" >
									<input type="hidden" name="cx" value="015844430348475139480:9eplv9x8g6c" />
									<input type="hidden" name="ie" value="UTF-8" />
									<input type="text" name='q' placeholder="Search this site..." style="width:80%; padding-right:2%;"></input>
									<button type="submit" class="btn btn-cta btn-primary btn-lg" style="float:right;">Search</button>
								</form>
							 </div>
								<script>
								  (function() {
									var cx = '015844430348475139480:9eplv9x8g6c';
									var gcse = document.createElement('script');
									gcse.type = 'text/javascript';
									gcse.async = true;
									gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
									var s = document.getElementsByTagName('script')[0];
									s.parentNode.insertBefore(gcse, s);
								  })();
								</script>
								<gcse:searchresults-only></gcse:searchresults-only>
                        </div>
{% endblock %}
