{% extends 'aero/index.html' %}
{% load staticfiles %}
{% block fbpost %}
<!-- EXAMPLE
<a href="#">
	<img src="{% static  'assets/images/img1.jpg' %}" alt="" width="70">
</a>
<div class="post-content">
	<h5><a href="#">FB  ID NEEDED</a></h5>
	<span>UPdATE THIS</span>
</div>
-->
{% endblock %}


{% block mainpost %}
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/1.jpg' %}" width=100% alt="yo">				</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/2.jpg' %}" width=100%  alt="yo">	</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/3.jpg' %}" width=100%  alt="yo">		</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/4.jpg' %}" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/5.jpg' %}" width=100% alt="yo">									</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/6.jpg' %}" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/7.jpg' %}" width=100%  alt="yo">				</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/8.jpg' %}" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/9.jpg' %}" width=100%  alt="yo">			</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/10.jpg' %}" width=100%  alt="yo">	</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/11.jpg' %}" width=100%  alt="yo">	</div>
		<div class="col-md-6">	<img src="{% static 'aero/assets/images/12.jpg' %}" width=100%  alt="yo">	</div>
	</div><!-- /.col -->
{% endblock %}
