{% extends 'main/index.html' %}
{% load staticfiles %}

{% block headtitle %}
STAB | IITB
{% endblock %}

{% block fbpost %}
<!-- EXAMPLE
<a href="#">
	<img src="{% static  'assets/images/img1.jpg' %}" alt="" width="70">
</a>
<div class="post-content">
	<h5><a href="#">FB  ID NEEDED</a></h5>
	<span>UPdATE THIS</span>
</div> 
-->
{% endblock %}


{% block mainpost %}
	<div class="col-md-12" style="margin:25px;">			 
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/1005543_10203276354454844_1033918995_n.jpg.jpg" width=100% alt="yo">				</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10408486_817047021735636_2673462603914801589_n.jpg.jpg" width=100%  alt="yo">	</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10830500_937583009587807_285202832303310515_o.jpg.jpg" width=100%  alt="yo">		</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/1948063_10203276347894680_1798389064_n.jpg.jpg" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/WP_20140309_002.jpg.jpg" width=100% alt="yo">									</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10013358_10203276356454894_486644727_n.jpg.jpg" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/1150363_10203276356774902_414361733_n.jpg.jpg" width=100%  alt="yo">				</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10001392_10203276346414643_1321622483_n.jpg.jpg" width=100%  alt="yo">			</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/1620598_10203276352254789_1938847193_n.jpg.jpg" width=100%  alt="yo">			</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10517940_930934020252706_6349194618511951001_o.jpg.jpg" width=100%  alt="yo">	</div>
	</div>
	<div class="col-md-12" style="margin:25px;">
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/10665978_869592923053483_1256547318196211724_n.jpg.jpg" width=100%  alt="yo">	</div>
		<div class="col-md-6">	<img src="https://stab-iitb.org/media/2015/club_assets/aero/Events/RC_Plane/Photos/11692734_909252229135718_3398985040869635798_n.jpg.jpg" width=100%  alt="yo">	</div>
	</div><!-- /.col -->
{% endblock %}