{% extends 'aero/index.html' %}
{% load staticfiles %}

{% block headtitle %}
ITC | IITB
{% endblock %}

{% block fbpost %}
<!-- EXAMPLE
<a href="#">
	<img src="{% static  'assets/images/img1.jpg' %}" alt="" width="70">
</a>
<div class="post-content">
	<h5><a href="#">FB  ID NEEDED</a></h5>
	<span>UPdATE THIS</span>
</div>
-->
{% endblock %}

{% block mainpost %}
	<div class="blog-desc container-fluid">
		<h2>List of Events Conducted</h2>
		<div class="space-30"></div>
		{% for x in object_list %}
			<section style="margin-bottom:20px;overflow:hidden" >
				<div class="messagebox" style="padding:1%">
					<div class="header">{{x.title}}</div>
					<div class="row">
						<div class="message col-sm-6"> <img src="{{x.imagelink}}" width='100%'> </div>
						<div class="message col-sm-6">
							{{x.smalldescription}}	<br>
													<br>
							<div class="timedate">&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp;{{x.happeningdate|date:'M d,y'}}</div>
							<p>Find content and photographs <a href="{{x.drivelink}}" target="_blank">HERE</a></p>
						</div>
					</div>
				</div>
			</section>
		{% endfor %}
	</div>
{% endblock %}
