{% load staticfiles %}
<!DOCTYPE html>
<!-- added some style at the bottom of head -->
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
            {% block title %}
            {% endblock %}
      </title>
      <!-- Bootstrap -->
      <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
      <link href="{% static 'assets/bower_components/flexslider/flexslider.css' %}" rel="stylesheet">
      <link href="{% static 'assets/dzsparallaxer/dzsparallaxer.css' %}" rel='stylesheet' type="text/css"/>
      <!-- Base MasterSlider style sheet -->
      <link href="{% static 'assets/masterslider/style/masterslider.css' %}" rel="stylesheet" />
      <!-- Master Slider Skin -->
      <link href="{% static 'assets/masterslider/skins/default/style.css' %}" rel='stylesheet' type='text/css'>
      <!--main css file-->
      <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style>
         .navbar-default.navbar-transparent.shrink .navbar-nav > li > a {
             color: #fbfbfb;
            }
      </style>
      <!-- Static navbar -->
      {% block nav %}
          {% include "main/navbars/nav-dark.html" %}
      {% endblock %}
   </head>
   <body class="boxed-layout">
      <!--pre-loader-->
      <div id="preloader"></div>
      <!--pre-loader-->
      <!--back to top-->
      <a href="#" class="scrollToTop"><i class="ion-ios-arrow-up"></i></a>
      <!--back to top end-->
      <section class="pricing-section">
         <div class="space-90"></div>
         <div class="container">
            <div class="center-title">
               <h1>Team STAB 2014</h1>
            </div>
            <div class="row">
               <div class="col-sm-1 margin-b-30"></div>
               <div class="col-sm-4 margin-b-30">
                  <div class="price-box" style="overflow:hidden">
                     <div class="price-header" style="font-size:1vh;">
                        <h3 style="color:#FAFAFA;">
                            Rahul Prajapat
                        </h3>
                        <h4>Overall Coordinator</h4>
                     </div>
                     <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                        <center>
                           <img src="{% static 'assets/images/team/2014/rahul.jpg' %}" style="height:375px;margin-left:-196px;position:absolute;left:50%">
                        </center>
                     </div>
                     <div class="price-footer" style="">
                        <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9892945399</i><br>
                        <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;
                           rahul.prajapat9@gmail.com
                        </i>
                     </div>
                  </div>
               </div>
               <!--/col-->
               <div class="col-sm-2 margin-b-30"></div>
               <div class="col-sm-4 margin-b-30">
                  <div class="price-box" style="overflow:hidden">
                     <div class="price-header" style="font-size:1vh;">
                        <h3 style="color:#FAFAFA;">
                             Apurv Mittal
                        </h3>
                        <h4>PG Overall Coordinator</h4>
                     </div>
                     <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                        <center>
                           <img src="{% static 'assets/images/team/2014/apurv.jpg' %}" style="width:170%;margin-left:-400px;margin-right:-200px;">
                        </center>
                     </div>
                     <div class="price-footer" style="">

                        <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;
                           darenot.apurv@gmail.com
                        </i>
                     </div>
                  </div>
               </div>
               <div class="col-sm-1 margin-b-30"></div>
            </div>
         </div>
         <div class="space-60"></div>
      </section>
      <!--end pricing section-->

      <section class="pricing-section">
         <div class="space-90"></div>
         <div class="container">
            <div class="center-title">
               <h1>Club Managers</h1>
            </div>
            <div class="row">
               <div class="col-sm-4 margin-b-30"></div>
               <div class="col-sm-4 margin-b-30">
                  <div class="price-box" style="overflow:hidden">
                     <div class="price-header" style="font-size:1vh;">
                        <h3 style="color:#FAFAFA;">Kuldeep </h3>
                        <h4>Aeromodelling Club</h4>
                     </div>
                     <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                        <center>
                           <img src="{% static 'assets/images/team/2014/kuldeep.jpg' %}" style="width:500px;margin-left:-200px;position:absolute;left:50%">
                        </center>
                     </div>
                     <div class="price-footer" style="">
                        <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;8879476431</i><br>
                        <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;kuldeepsingh050895@gmail.com</i>
                     </div>
                  </div>
               </div>
               <!--/col-->
               <div class="col-sm-4 margin-b-30"></div>
            </div>
         </div>
      </section>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-1 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Riddhish</h3>
                     <h4>Electronics Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/riddhish.jpg' %}" style="width:500px;margin-left:-300px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9769472731</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;riddhishb@gmail.com </i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-2 margin-b-20"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Ankita </h3>
                     <h4>Electronics and Robotics Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/ankita.png' %}" style="width:140%;margin-left:-200px;position:absolute;l">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9773619340</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;aesha.ajp@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-1 margin-b-30"></div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-4 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Sharad </h3>
                     <h4>Krittika (Astronomy Club)</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/sharad.png' %}" style="height:375px;">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9619589656</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;sharad157@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-4 margin-b-30"></div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-4 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Anchal</h3>
                     <h4>Maths & Physics Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/anchal.jpg' %}" style="width:475px;margin-top:-30px;margin-left:-300px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;8286005181</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;anchal.physics@gmail.com </i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-4 margin-b-30"></div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-1 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Chetan</h3>
                     <h4>Robotics Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/chetan.jpg' %}" style="width:100%;">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9167469004</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;chetan.agrawal39@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-2 margin-b-20"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Vineetha</h3>
                     <h4>Robotics Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/vini.jpg' %}" style="height:100%;margin-left:-100px;position:absolute;left:0%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9819915441 </i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;vinni.iitb@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-1 margin-b-30"></div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-1 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;"> Ranveer Aggarwal</h3>
                     <h4>Web and Coding Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/ranveer.png' %}" style="width:600px;margin-left:-400px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9867744457</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;ranveeraggarwal@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-2 margin-b-20"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Manish Goregaokar </h3>
                     <h4>Web and Coding Club</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/manish.png' %}" style="width:100%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9167337978</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;manishsmail@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-1 margin-b-30"></div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;"> Shyam Sunder </h3>
                     <h4>Technovation</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/shyam.jpg' %}" style="height:375px;margin-left:-200px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9167782655</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;ssprasad49@gmail.com</i>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Manmohan</h3>
                     <h4>Technovation</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/mannu.jpg' %}" style="height:375px;margin-left:-200px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9769486341</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;manmohanmandhana000@gmail.com</i>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;"> Dewashish Kumar</h3>
                     <h4>Technovation</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/dewa.jpg' %}" style="width:100%;">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;7738258332</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;dewashish.dey05@gmail.com</i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-4 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;"> Prateek Chandan </h3>
                     <h4>Web Manager</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/prateek.jpg' %}" style="width:400px;margin-left:-200px;position:absolute;left:50%">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9619730024</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;prateekchandan5545@gmail.com</i>
                  </div>
               </div>
            </div>
            <div class="col-sm-4 margin-b-30"></div>
            <!--/col-->
         </div>
      </div>
      <div align="center"><div style="height:3px;width:50%;background-color:grey;"></div><br></div>
      <div class="container">
         <div class="row">
            <div class="col-sm-1 margin-b-30"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Praveen Aggrawal </h3>
                     <h4>Creatives and Media Manager</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/praveen.jpg' %}" style="width:375px;margin-right:-300px;margin-left:-300px;">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;7738259756</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;praveen.agrawal0@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-2 margin-b-20"></div>
            <div class="col-sm-4 margin-b-30">
               <div class="price-box" style="overflow:hidden">
                  <div class="price-header" style="font-size:1vh;">
                     <h3 style="color:#FAFAFA;">Chirag Shetty</h3>
                     <h4>Creatives and Media Manager</h4>
                  </div>
                  <div style="width: auto; margin: 0 auto; overflow: hidden;  position: relative;  height: 375px;">
                     <center>
                        <img src="{% static 'assets/images/team/2014/chirag.jpg' %}" style="width:375px;margin-right:-300px;margin-left:-300px;">
                     </center>
                  </div>
                  <div class="price-footer" style="">
                     <i class="glyphicon glyphicon-earphone" style="color:black">&nbsp;9892611771</i><br>
                     <i class=" glyphicon glyphicon-envelope" style="color:black">&nbsp;chiragcshetty@gmail.com</i>
                  </div>
               </div>
            </div>
            <!--/col-->
            <div class="col-sm-1 margin-b-30"></div>
         </div>
      </div>

            {% block footer %}
                {% include "main/footer.html" %}
            {% endblock %}

            <!-- jQuery plugins-->
            <script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
            <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
            <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'assets/bower_components/flexslider/jquery.flexslider-min.js' %}"></script>
            <script src="{% static 'assets/js/modernizr.custom.97074.js' %}" type="text/javascript"></script>
            <script src="{% static 'assets/js/template-custom.js' %}" type="text/javascript"></script>
            <script src="{% static 'assets/dzsparallaxer/dzsparallaxer.js' %}" type="text/javascript"></script>
            <script src="{% static 'assets/masterslider/masterslider.min.js' %}"></script>
            <script type="text/javascript">
               var slider = new MasterSlider();

               slider.control({insertTo: '#masterslider'});
               slider.control('bullets');

               slider.setup('masterslider', {
                   width: 1024,
                   height: 640,
                   space: 0,
                   view: 'basic',
                   layout: 'auto',
                   fullscreenMargin: 0,
                   speed: 10,
                   loop:true
               });

            </script>
         </body>
      </html>
